<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <script src="../libs/angular.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/models/mobileModel.js"></script>
    <script src="../js/controllers/mobileController.js"></script>
    <title></title>
</head>

<body ng-app="mobileapp" ng-controller="mobileController">
   
    <section class="row">
        <h1>Mobiles</h1>
    </section>
    <section class="row container-fluid">
        <section class="col-md-2 container-fluid">
           <section class="row">
               <form>
                   <section class="form-group">
                       <section class="col-md-3">
                           <label for="search">Search</label>
                       </section>
                       <section class="col-md-9">
                           <input type="text" class="form-control" id="seacrch" placeholder="Search">
                       </section>
                   </section>

               </form>
           </section>
           <section class="row">
               Select Sort By 
               <select ng-model="sortBy">
                   <option>name</option>
                   <option>price</option>
               </select>
           </section>
        </section>
        <section class="col-md-10 container-fluid">
            <ul>
                <li class="col-sm-4 col-xs-6" ng-repeat="mobile in mobiles|filter:fr|orderBy:sortBy:reverseSort">
                    
                    <ul>
                        <li>
                            <img src="{{mobile.pic}}" alt="">
                        </li>
                        <li class="mName">
                            {{mobile.name}}
                        </li>
                        <li class="mPrice">
                            {{mobile.price}}
                        </li>
                        <li>
                            {{mobile.features}}
                        </li>
                    </ul>
                    
                </li>
            </ul>
        </section>
    </section>
     
</body>
</html>
